
.topnav {
	font-family: Montserrat; 
	text-align: left;
	font-size: 30px;
	color: white; 
	margin-top: 40px; 
	margin-left: 165px;
}
.active{
	padding: 0 3px;
}


/*links */
a:link {
    color: white;
	text-decoration: none;
	font-family: Montserrat;
}

a:visited {
    color: white;
	text-decoration: none;
}

 p {
	font-family: Montserrat;
}

#description a:link {
    color: white;
	text-decoration: none;
}

#description a:visited {
    color: white;
	text-decoration: none;
}

#menuelink {
	color: white;
	text-decoration: underline;
    text-decoration-color: white;
	
}


body {
	background-image: url("background.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat; 
    
}
 #col1 { 
height: 523px; 
width: 375px; 
background-color: rgba(255,255,255, 0.5); 
margin-left: 90px; 
margin-top: 30px; 
float: left;
 margin-bottom: 20px;
 }
 
img {
	height: 45px;
	width: 45px;
}
#icons {
	margin-left: 100px;
	margin-top: 60px;
}
#col2 { 
height: 523px; 
width: 868px; 
background-color:rgba(255,255,255, 0.5); 
margin-right: 120px; 
margin-top: 30px; 
margin-bottom: 20px;
float: right; 
padding-left:50px;
}
#description {
	font-family: Source Sans Pro;
	font-size: 17px; 
	margin-top: 71px;
}
#mail1 {margin-top: 28px;}
#linked1 {margin-top: 28px;}
#fb1 {margin-top: 28px;}
#vk1 {margin-top: 28px;}
#inst1 {margin-top: 28px;} 
#quote {
	font-size: 50px;
    font-family: Freestyle Script;
    margin-right: 40px;
	color: red; 
	float: right;
	}
#quote p {
margin-bottom: 0px;} 
#author {
	font-size: 27px; 
	font-weight:bold;
	margin-left: 730px;
	
}
	
